.button {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  &__primary {
    color: #ddd;
    background-color: crimson;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: crimson;
      background-color: white;
      border: 1px solid crimson;
    }
  }
}
@keyframes scaleAsc {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sticky {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
