$font-family: "Roboto", sans-serif;
$clr-black: #000;
$clr-white: #fff;
// $primary-color: #26acd9;
$clr-primary: crimson;
$clr-text-primary: cornsilk;
$clr-header-bot: #065471;
$clr-gray: #ccc;
$clr-gray-dark: #333;
$clr-text-banner: aliceblue;
$transitionAll: all ease-in 0.2s;
$clr-bg-sidebar: antiquewhite;
