@use "../../scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.banner {
  overflow: hidden;
  width: 100%;
  height: 100%;
  &__container {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 59rem;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    right: 0;
    line-height: 1;
    color: $clr-text-banner;
    z-index: 900;

    h4 {
      font-size: 5rem;
      font-weight: 400;
      font-family: "Satisfy", cursive;
      margin: 0;
      text-shadow: 5px 5px $clr-gray-dark;
    }
    h2 {
      font-size: 10rem;
      font-weight: 700;
      text-shadow: 5px 5px $clr-gray-dark;
    }
    p {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      max-width: 52rem;
      text-align: center;
      margin: 0 auto;
      text-shadow: 3px 3px $clr-gray-dark;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
