@use "../../../../scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

.header {
  // overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  &__top {
    @include flex(row, center, space-between);
    background-color: $clr-black;
    padding: 1rem 0;
    .container {
      @include flex(row, center, space-between);
    }
    &-left {
      ul {
        margin: 0;
        @include flex(row, center, space-between);
        gap: 1rem;
        li {
          list-style: none;
          font-size: 1.4rem;
          font-weight: 500;
          color: $clr-text-primary;
          span {
            margin-left: 0.5rem;
          }
        }
      }
    }
    &-right {
      @include flex(row, center, space-between);
      gap: 2rem;
      ul {
        @include flex(row, center, space-between);
        gap: 1rem;
        margin: 0;
        li {
          color: $clr-white;
          list-style: none;
          cursor: pointer;
          &:hover {
            color: $clr-primary;
            transition: $transitionAll;
          }
        }
      }
    }
  }
  &__bot {
    background-color: $clr-header-bot;
    color: $clr-white;
    &-right {
      @include flex(row, center, space-between);
      gap: 3rem;
      cursor: pointer;
      svg {
        font-size: 2.3rem;
      }
    }
  }
  &__auth {
    @include flex(row, center, space-between);
    gap: 1rem;
  }
  &__nav {
    @include flex(row, center, space-between);
    padding: 0 2rem;
  }
  &__menu {
    @include flex(row, center, space-between);
    gap: 2rem;
    padding: 0;
    margin: 0;
    &-item {
      list-style: none;
    }
    &-link {
      display: block;
      text-decoration: none;
      font-size: 1.7rem;
      font-weight: 500;
      color: $clr-text-primary;
      transition: $transitionAll;
      &:hover {
        color: $clr-primary;
      }
    }
  }
  &__logo {
    display: block;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__search {
    width: 100%;
    position: relative;
    @include flex(row, center, center);
    border-radius: 1rem;
    overflow: hidden;
    input {
      display: block;
      outline: none;
      border: none;
      padding: 0.5rem 4rem 0.5rem 2rem;
      font-size: 1.5rem;
      font-weight: 600;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      outline: none;
      padding: 0.2rem 1rem;
      background: $clr-primary;
      color: $clr-text-primary;
      height: 100%;
      &:hover {
        color: $clr-primary;
        background-color: $clr-gray;
      }
      svg {
        font-size: 2rem;
      }
    }
  }
  .sidebar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 998;
  }
  .sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}

.header__bot.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  z-index: 10000;
  animation: sticky 1.5s ease-in-out;
}
